body{
    background-color: white;
}
/* 針對你 HTML 裡寫了 class="profile-img" 的那張圖片進行設定 */
.profile-img {
    margin-top: 40px;    /* 往上推開 30 像素（讓圖片往下移） */
    margin-left: 10px; /* 往下推開 40 像素（讓卡片往下移） */
    width: 200px;           /* 1. 限制圖片寬度為 200 像素 */
    height: 280px;          /* 2. 限制圖片高度為 200 像素 */
    
   /* object-fit: cover;      /* 3. 關鍵：保持圖片比例，多餘的會被裁切，臉才不會變形 */
    
    /*border-radius: 50%;     /* 4. 選填：如果你想把照片變成「圓形大頭貼」可以加這行 */
}

table{
        margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    border-collapse: collapse;
    width: 70%;
}
th,td{
    border: 1px solid #333;
    padding: 10px;
}
p {
    /* 關鍵：1em 代表一個字的大小，2em 就是剛好空兩個字的位置 */
    text-indent: 2em; 
    
    /* 選填：設定行高與字距，會讓文章在手機上更好閱讀 */
    line-height: 1.6;
    letter-spacing: 0.5px;
}
a{
    margin-left: 15px;
    font-size: 20px;
}
.second-image{
    margin-top: -130px;    /* 往上推開 30 像素（讓圖片往下移） */
    margin-left: 160px;
    width: 300px;           /* 1. 限制圖片寬度為 200 像素 */
    height: 300px;          /* 2. 限制圖片高度為 200 像素 */
    

}

.container {
    padding-right: 60px; /* 強制右邊留出空白 */
    padding-left: 60px;  /* 建議左右對稱較美觀 */
}


